
body{
	font-size: 30px;
	background-color: #161616;
}
header{
	width: 100%;
}
header h1{
	text-align: center;
	padding: 30px;
	font-size:1.3rem;
	color: #ffffff;
}
main{
	width: 100%;
}
main .container{
	width: 60%;
	margin: 10px auto;
	color: white;
	padding: 15px 15px 35px 15px;
	display: flex;
}
.contador, .btns{
	width: 50%;
	text-align: center;
	display: flex;
	justify-content: space-around;
}
.contador, .btns button{
	font-size: 2rem;
}
.contador h1{
	font-size: 4.5rem;
}
.tabela{
	margin: 1.5em 0;
}
.tabela h1{
	text-align: center;
}
.container-contador{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-right: 2.3rem;
}
.model-button{
	cursor: pointer;
	flex-grow: 1;
}
.model-button i{
	font-size: 2.3rem;
}
.conteiner-model{
	width: 64px;
}
.telaInicial{
	background-color: #e51e2a;
}
.telaPausa{
	background-color: #32CD32;
}
.tabela{
	font-size: 1.3rem;
	max-width: 60%;
	margin: 0 auto;
}
.alert{
	margin: 10px 0;
	font-size: 1.4rem;
}
.none{
	display: none;
}