body{
	font-size: 30px;
	background-color: #161616;
}
header{
	width: 100%;
}
header h1{
	text-align: center;
	padding: 30px;
	font-size:2.0em;
}
main{
	width: 100%;
}
main .container{
	width: 60%;
	margin: 10px auto;
	color: white;
	padding: 15px 15px 35px 15px;
	display: flex;
	flex-direction: column;
	

}
.contador, .btns{
	width: 50%;
	text-align: center;
	margin: 0 0 10px 0;
	display: flex;
	justify-content: space-around;
}
.contador, .btns button{
	font-size: 1.2em;
}
.contador h1{
	font-size: 3.0em;
}
.tabela{
	margin: 1.5em 0;
}
.tabela h1{
	text-align: center;
}
.container-contador{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.model-button{
	background-image: url("../img/bloco-de-anotacoes (2).png");
	width: 64px;
	height: 64px;
	border: none;
	
}
.conteiner-model{
	width: 64px;
}
.telaInicial{
	background-color: #007bff;
}
.telaPausa{
	background-color: #32CD32;
}
