@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
	--bg-black: #161616;
	--bg-red:#d04643;
	--bg-white:#ffffff;
	--bg-grey:#757575;
	--bg-main:#30384b;
	--bg-red-dark:#E83633;
	--bg-green:#3eb640;
	--bg-green-dark:#39a33b;
	--bg-purple:#8C43D0;
	--bg-purple-dark:#7f40b9;
	--main-color: var(--bg-red);
	--main-color-effect: var(--bg-purple-dark);
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html{
	font-size: 63.5%;
	font-family: 'Roboto', sans-serif;
}

body{
	height: 100vh;
}
i{
	margin-right: 0.5rem;
}
.grid-container{
	display: grid;
	grid-template-areas: 'header' 'main' 'footer';
	grid-template-columns: 1fr;
	grid-template-rows: 6rem 1fr 5rem;
	height: 100%;
}
header{
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	
}
header .brand{
	font-size: 1.4rem;
}
header .brand a{
	color: var(--bg-white);
	text-decoration: none;
}

header .links ul{
	display: flex;
	font-size:1.7rem;
	list-style: none;
	font-weight: 300;
}
header .links li{
	margin-left: 1.4rem;
}
header .links li a{
	text-decoration: none;
	color: var(--bg-white);
	transition: font-weight 0.5 ;
}
header .links li a:hover{
	font-weight: 400;
}

main{
	font-size: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

header, .pomodoro-container, footer{
	background-color: var(--main-color);
	transition: background-color 0.5s ease-in-out;
}

.pomodoro-options button:hover, .pomodoro-buttons button:hover {
	background-color: var(--main-color-effect);
	transition: background-color 0.5s ease-in-out;
}

.pomodoro-container{
	height: 25rem;
	width: 70rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column ;
}

.pomodoro-options{
	width: 100%;
	height: 5rem;
	text-align: center;
	border-bottom: var(--bg-white) 1px solid;	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

}
.pomodoro-options button{
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: var(--bg-white);
}
.pomodoro-options button:nth-child(1){
	border-radius: 10px 0 0 0 ;
}
.pomodoro-options button:nth-child(2){
	border-right: var(--bg-white) 1px solid;
	border-left: var(--bg-white) 1px solid;
}
.pomodoro-options button:nth-child(3){
	border-radius: 0 10px 0 0 ;
}

.pomodoro-time{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 8rem;
	color: var(--bg-white);
}
.pomodoro-tasks{
	text-align: center;
	color: var(--bg-white);
}
.pomodoro-buttons{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;	
}
.pomodoro-buttons button{
	background-color: transparent;
	border: var(--bg-white) 1px solid;
	color: var(--bg-white);
	border-radius: 4px;
	padding: 0.5rem;
	font-size: 3rem;
	width: 20rem;
	margin-left: 2rem;
	cursor: pointer;
}

.pomodoro-buttons button:focus,.pomodoro-options button:focus{
	outline: none;
  	box-shadow: none;
}

footer{
	grid-area: footer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	color: var(--bg-white);
	font-size: 1.5rem;
}

.btnpause{
	color: #ffffff7f !important;
	cursor: not-allowed !important;
}


/* Config*/

.container-config{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	width: 80rem;
	background-color: var(--main-color);
	color: var(--bg-white);
	padding: 1.4rem 4rem 2rem 4rem;
}

.container-config .row{
	display: flex;
	justify-content: space-around;
	width: 70rem;
	padding: 1rem;
}

.container-input{
	background-color: #ffffff28;
	width: 22rem;
	height: 12rem;
	text-align: center;
}

.container-input input{
	background-color: #ffffff00;
	width: 100%;
	height: 8rem;
	font-size: 6rem;
	text-align: center;
	border: none;
	outline: none;
  	box-shadow: none;
	-webkit-appearance: none;
}

.container-input  label{
	display: block;
	width: 100%;
	height: 4rem;
	font-size: 2rem;
	font-weight: 400;
}

.container-input label, .container-input input{
	color: var(--bg-white);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

.menu-config{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	
}
.menu-section{
	font-size: 2.4rem;
	margin-bottom: 2rem;
	cursor: pointer;
}

.menu-section:hover{
	border-bottom: 0.2rem solid #ffffff;
}

.menu-section a{
	text-decoration: none;
	color: var(--bg-white);
}